<section class="center padding">
    <div class="margin-bottom max-width-m">
      <h3>Reverse Email Lookup</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="max-width-l">
      <div class="row margin-bottom">
        <div class="col-one-fourth">
          <a href="" class="feature-icons bg-primary rounded">1</a>
          <h6>Lorem Ipsum</h6>
        </div>
        <div class="col-one-fourth">
          <i class="feature-icons bg-primary">2</i>
          <h6>Lorem Ipsum</h6>
        </div>
        <div class="col-one-fourth">
          <i class="feature-icons bg-primary">3</i>
          <h6>Lorem Ipsum</h6>
        </div>
        <div class="col-one-fourth">
          <i class="feature-icons bg-primary">4</i>
          <h6>Lorem Ipsum</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-one-fourth">
          <i class="feature-icons bg-primary">5</i>
          <h6>Lorem Ipsum</h6>
        </div>
        <div class="col-one-fourth">
          <i class="feature-icons bg-primary">6</i>
          <h6>Lorem Ipsum</h6>
        </div>
        <div class="col-one-fourth">
          <i class="feature-icons bg-primary"></i>
          <h6>Lorem Ipsum</h6>
        </div>
        <div class="col-one-fourth">
          <i class="feature-icons bg-primary">8</i>
          <h6>Lorem Ipsum</h6>
        </div>
      </div>
    </div>
</section>