<section class="bg-gradient-grey center padding">
    <div class="margin-bottom max-width-m">
      <h3 class="primary-text">Reverse Email Lookup</h3>
      <p class="secondary-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="margin-bottom max-width-m">
      <div class="row margin-bottom">
        <div class="col-one-half">
          <div class="view-box">
            <a href="" class="feature-icons bg-primary">1</a>
            <h4 class="left primary-text">Lorem Ipsum</h4>
            <p class="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="col-one-half">
          <div class="view-box">
            <a href="" class="feature-icons bg-primary">4</a>
            <h4 class="left primary-text">Lorem Ipsum</h4>
            <p class="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="row margin-bottom">
        <div class="col-one-half">
          <div class="view-box">
            <a href="" class="feature-icons bg-primary">2</a>
            <h4 class="left primary-text">Lorem Ipsum</h4>
            <p class="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="col-one-half">
          <div class="view-box">
            <a href="" class="feature-icons bg-primary">5</a>
            <h4 class="left primary-text">Lorem Ipsum</h4>
            <p class="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-one-half">
          <div class="view-box">
            <a href="" class="feature-icons bg-primary">3</a>
            <h4 class="left primary-text">Lorem Ipsum</h4>
            <p class="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="col-one-half">
          <div class="view-box">
            <a href="" class="feature-icons bg-primary">6</a>
            <h4 class="left primary-text">Lorem Ipsum</h4>
            <p class="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
</section>