<footer class="footer-main bg-light">
    <div class="footer-padding">
      <div class="row max-width-l">
        <div class="col-four-fifths">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
            <div class="col-one-fifth footer-terms">
              <strong>Terms | Privacy</strong>
            </div>
      </div>
    </div>
</footer>