<section class="bg-primary center full-screen middle overlay padding">
    <div class="max-width-m">
      <h1>Search Any Email Address.</h1>
      <p class="lead"><span>Start Here</span> - Look up the owner's name, photos and online profiles. See what you find!.</p>
      <form class="row">
        <div class="col-two-thirds">
          <input id="search" type="email" name="email" placeholder="Email">
        </div>
        <div class="col-one-third">
          <input class="btn-primary full-width" id="btn" type="button" value="GO!">
        </div>
      </form>
      <strong class="subtittle left space-top"><i class="fas fa-lock space-right"></i>Enter Any Email Address. They won't be notified.</strong>
    </div>
  </section>