/* -----------------------------------------------------------------------------

# Components - Card

----------------------------------------------------------------------------- */

.card {
  @include rounded(50px);
  @include shadow-m;
  background: $color-white;
  padding: 2 * $space;

  @include mq("mobile") {
    padding: $space;
  }
}
