/* -----------------------------------------------------------------------------

# Components - Card

----------------------------------------------------------------------------- */

.card {
  @include rounded(50px);
  @include shadow-m;
  background: $color-white;
  padding: 2 * $space;

  @include mq("mobile") {
    padding: $space;
  }
}
//Grid features container
.view-box{
  @include result-box;
}
//Tablet view
.card-box{
  @include result-box;
  @include mq("tablet") {
    padding: 0;
  }
}