/* -----------------------------------------------------------------------------

# Components - Forms

----------------------------------------------------------------------------- */

//textbox properties
.search{
  width: 100%;
  height: 70px;
  background: #FFFFFF;
  border: none;
  box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20);
  border-radius: 3px;
  font-family: $font-bold;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 18px;
  padding-left: 12px;
}
.input-group{
  position: relative;
}

//placeholder properties
.label{
  position: absolute;
  top: 3px;
  pointer-events: none;
  left: 0;
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  color: #9B9B9B;
  letter-spacing: 2px;
  line-height: 18px;
  padding-top: 26px;
  padding-left: 12px;
  transition: .5s; 
}

.search[type=text]:focus{
  background: #FFFFFF;
  border: 3px solid #F6BC25 !important;
}

//Float placeholder
.search:focus ~#email{
  left: 0;
  top: -15px;
  padding-bottom: 6px;
  font-family: "HelveticaNeue-Bold";
  font-size: 16px;
  color: #9B9B9B;
  letter-spacing: 2px;
  line-height: 18px;
}