/* -----------------------------------------------------------------------------

# Tools - Align

----------------------------------------------------------------------------- */

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.float-left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}

.middle {
  @include flex;
  @include flex-direction;
  @include justify-content;
}

/*Align center in tablets*/
@include mq("tablet") {
  .center-tablet {
    text-align: center;
  }
}
/*Align center in mobiles*/
@include mq("mobile") {
  .center-mobile {
    text-align: center;
  }
}
